@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap');

::-webkit-scrollbar{
	width: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(240, 147, 43,1.0); 
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(249, 202, 36,1.0); 
}

:root{
	--theme-clr-red: rgba(255, 71, 87,1.0);
	--theme-clr-blue: rgba(30, 144, 255,1.0);
	--theme-clr-bg: rgba(241, 242, 246,1.0);
	--theme-clr-dark-yellow: rgba(240, 147, 43,1.0);
}

body{
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	overflow-x: hidden;
	min-width: 1200px !important;
}

h1{
	margin: 3px 0;
	padding: 2px;
}

h2{
	padding: 0;
	margin: 10px 0;
}

.container{
	display: block;
	min-width: 1200px;
}

.division{
	display: flex;
	flex-direction: row;
	padding-bottom: 8px;
	overflow: hidden;
}

section{
	margin: 0;
	overflow: hidden;
}

.text-color-theme-red{
	color: var(--theme-clr-red);
}

.ajax_status{
	display: none;
	visibility: hidden;
	opacity: 0;
}



/* 404 */

.err404_container{
	background-color: #34495e;
	padding: 25px;
}

.err404_block1{
	position: relative;
	margin-bottom: 40px;
}

.err404_bg_img_cont{
	text-align: center;
}

.err404_bg_img_cont img{
	width: 380px;
	height: 380px;
	/*filter: grayscale(100%);*/
	box-shadow: 5px 0 10px 2px rgba(236, 240, 241, 0.3),
		inset -5px -5px 10px 2px rgba(236, 240, 241, 0.3);
		border-radius: 20px;
}

.err404_404_text{
	text-align: center;
	position: absolute;
	min-height: 380px;
	top: 0;
	width: 100vw;
	min-width: 1200px;
}

.err404_404_text span{
	font-family: 'Black Ops One', cursive;
	position: absolute;
	top: calc(50% - 105px);
	left: calc(50% - 110px);
	transform: translate(-50%, -50%);
	font-size: 80px;
	color: rgba(27, 156, 252,1.0);
}

.err404_404_text h1{
	position: absolute;
	bottom: 5px;
	left: calc( 50% - 30px);
	transform: translate(-50%, 0);
	color: rgba(154, 236, 219,1.0);
}

.err404_block2{
	text-align: center;
}

.err404_block2 a{
	color: white;
	padding: 10px 30px;
	font-size: 18px;
	background-color: rgba(248, 239, 186,1.0);
	border: solid 1px rgba(37, 204, 247,1.0);
	color: black;
	text-decoration: none;
	border-radius: 5px;
}

.err404_block2 a:hover{
	color: rgba(27, 156, 252,1.0);
}




/* end 404 */